body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #000428, #004e92);
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

canvas {
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 229, 255, 0.8);
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#message {
    font-size: 2em;
    margin-top: 20px;
    color: #00ff2a;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #0072ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

.hidden {
    display: none;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
